@font-face {
  font-family: NunitoSans;
  src: local("NunitoSans"), local("NunitoSans"),
  url("../../shared/assets/fonts/NunitoSans_10pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: NunitoSans;
  src: local("NunitoSans"), local("NunitoSans"),
  url("../../shared/assets/fonts/NunitoSans_10pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: NunitoSans;
  src: local("NunitoSans"), local("NunitoSans"),
  url("../../shared/assets/fonts/NunitoSans_10pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: NunitoSans;
  src: local("NunitoSans"), local("NunitoSans"),
  url("../../shared/assets/fonts/NunitoSans_10pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: NunitoSans;
  src: local("NunitoSans"), local("NunitoSans"),
  url("../../shared/assets/fonts/NunitoSans_10pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
