.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--color-background-menu);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-l);
  max-width: fit-content;
  padding: 0 20px;
}
.Button {
  font: var(--font-l);
}

.notActive {
  color: var(--color-text-2);
}
