.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.InputContainer {
  position: relative;
  width: 100%;

  & input {
    padding-left: 15px;
  }
}

.InputContainerError {
  .Input {
    padding-right: 50px;

    &.withIcon {
      padding-right: 100px;
    }
  }

  .toggleTypeBtn {
    right: 36px;
  }
}

.validation {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
}

.Input {
  width: 100%;
  font: var(--font-l);
  height: var(--input-height);
  border: 1px solid var(--color-border-1);
  border-radius: var(--border-radius-l);
  outline: none;
  transition: all .3s;

  &.withIcon {
    padding-right: 40px;
  }

  &:disabled {
    background-color: var(--color-background-menu);
  }

  &:not(:disabled) {
    &:hover, &:focus {
      border-color: var(--color-main);
    }
  }
}

.InputError {
  border-color: var(--color-error);
  background-color: var(--color-background-error);
}

.Hint {
  margin-top: 8px;
  white-space: pre-wrap;
}

.toggleTypeBtn {
  position: absolute;
  top: 50%;
  right: var(--offset-m);
  transform: translateY(-50%);
}
