.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  font: var(--font-s);
  border-radius: var(--border-radius-l);
  height: var(--input-height);
  transition: all .3s;
  padding: 20px;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: .7;
  }

  &:active {
    &:not(:disabled) {
      transform: scale(.98);
    }
  }
}

.theme-primary {
  background-color: var(--color-main);
  color: var(--color-text-3);

  .Icon path {
    //fill: var(--color-text-3);
    stroke: var(--color-text-3);
  }

  &:not(:disabled) {
    &:hover {
      background-color: lighten($color-main, 5%);
    }
  }
}

.theme-secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-3);

  .Icon path {
    //fill: var(--color-text-3);
    stroke: var(--color-text-3);
  }

  &:not(:disabled) {
    &:hover {
      background-color: lighten($color-secondary, 5%);
    }
  }
}

.theme-light {
  background-color: var(--color-background-section);
  color: var(--color-main);
  border: 1px solid var(--color-border-1);

  .Icon path {
    //fill: var(--color-main);
    stroke: var(--color-main);
  }

  &:not(:disabled) {
    &:hover {
      border-color: darken($color-border-1, 10%);
    }
  }
}

.theme-light-clear {
  background-color: transparent;
  color: var(--color-text-1);
  border: 1px solid var(--color-border-1);

  .Icon path {
    //fill: var(--color-text-1);
    stroke: var(--color-text-1);
  }

  &:not(:disabled) {
    &:hover {
      border-color: darken($color-border-1, 10%);
    }
  }
}

.theme-clear {
  background-color: transparent;
  color: var(--color-text-1);
  border: 1px solid var(--color-border-1);

  .Icon path {
    stroke: var(--color-text-1);
  }

  &:not(:disabled) {
    &:hover {
      border-color: darken($color-border-1, 10%);
    }
  }
}

.theme-remove {
  background-color: var(--color-error);
  color: var(--color-white);
  border: 1px solid var(--color-error);

  .Icon path {
    stroke: var(--color-white);
  }

  &:not(:disabled) {
    &:hover {
      //border-color: darken($color-border-1, 10%);
    }
  }
}

.theme-white {
  background-color: var(--color-background-section);
  color: var(--color-text-1);
  border: 1px solid var(--color-border-1);
}

.theme-empty-accent {
  color: var(--color-main);
  padding-left: 0;
  padding-right: 0;

  &:not(:disabled) {
    &:hover {
      color: darken($color-main, 10%);
    }
  }
}

.mode-rounded {
  border-radius: 100px;
  height: 32px;
}

.mode-box {
  height: var(--input-height);
  width: var(--input-height);
  padding: 0;

  .Icon {
    margin-right: 0;
  }
}

.Icon {
  margin-right: 8px;
}
