.wrapper {
  margin-top: 15px;
  overflow-x: scroll;
}

.body {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & th  {
    padding-left: 10px;
    min-width: 180px;
  }
  & td {
    padding-top: 10px;
    padding-left: 10px;
    min-width: 180px;
  }
}

.header{
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.button {
  max-width: 100px;
}
.buttons {
  display: flex;
  gap: 20px;
  width: 150px;
  margin: 20px auto;
}
