.x {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  flex: 0 0 32px;
  border: 1px solid var(--color-border-1);
  background-color: var(--color-white);

  &:hover {
    background-color: var(--color-border-2);
  }
}

.theme-filled {
  border: 1px solid var(--color-background);
  background-color: var(--color-background);

  &:hover {
    background-color: var(--color-background);
  }
}
