$sizeCheckbox: 24px;
$radius: 6px;

.CheckboxControl {
  border: 1px solid var(--color-border-1);
  width: $sizeCheckbox;
  height: $sizeCheckbox;
  border-radius: $radius;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & > * {
    opacity: 0;
    transition: opacity .3s;
  }
}

.Checkbox {
  display: flex;

  input {
    display: none;
  }

  input:checked ~ .CheckboxControl {
    background-color: var(--color-main);
    border-color: var(--color-main);

    & > * {
      opacity: 1;
    }
  }

  input:disabled ~ .CheckboxControl {
    cursor: default;
    border-color: lighten($color-border-1, 5%);
  }

  input:disabled:checked ~ .CheckboxControl {
    background-color: lighten($color-border-1, 5%);
    border-color: lighten($color-border-1, 5%);
  }
}

.CheckboxText {
  padding-top: 2px;
  margin-left: var(--offset-m);
  display: inline-block;
}
