.SearchContainer {
  width: 100%;
  border: 1px solid var(--color-border-1);
  border-radius: var(--border-radius-l);
  height: var(--input-height);
  outline: none;
  transition: all .3s;
  display: flex;
  align-items: center;

  input {
    font: var(--font-l);
    flex: 1 0 auto;
    height: var(--input-height);
    outline: none;
    transition: all .3s;
    border: 0;
    border-top: 1px solid var(--color-border-1);
    border-bottom: 1px solid var(--color-border-1);
    border-radius: 5px;
    //@include offsetHorizontal(var(--offset-x));
  }
}

.SearchIcon {
  left: var(--offset-m);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 32px;
}
